{% extends "layout.html" %}
{% block content %}
<div class="container mx-auto">

<div class="container mt-2 mb-2">
    <h4 class="text-white text-center"><u>The Great Requirement</u></h4>
</div>

<div class="container">
    <div class="row">
        <p class="text-white">“He has shown you, O mortal, what is good. And what does the Lord require of you? 
            To <strong>act justly</strong> and to <strong>love mercy</strong> and to 
            <strong>walk humbly</strong> with your God.” – Micah 6:8 </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>The Need</u></h4>
</div>

<div class="container text-white">
    <div class="row">
        <p class="text-white">We recognize and are grieved by the deterioration in discourse, both in the general 
            public and in Christian communities. This deterioration is particularly extreme whenever political or social 
            issues are discussed. In particular, we observer the following serious problems: </p>
        <ul>
            <li>Lack of Charity</li>
            <li>Lack of Sympathy</li>
            <li>Tribalism</li>
            <li>Fear Mongering</li>
            <li>Conscious and Subconscious Acceptance that Truth is Relative</li>
        </ul>
        <p class="text-white">
            We also recognize that our current Information Age makes it increasingly complex to search, navigate and 
            identify trust-worthy, high quality resources to better understand and approach difficult subjects as Christians. 
            We see a critical need for strong and loving shepherding on 
            how we ought to sort through the barrage of noise fighting for our attention and money.
        </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>The Mission</u></h4>
</div>

<div class="container text-white">
    <div class="row">
        <p class="text-white">To promote individuals whose discourse demonstrates a commitment to the Christian faith and 
            exemplifies The Great Requirement. We share high quality discussions focused on Christian embodiment of the 
            Great Requirement ethic in social and civic life: locally, nationally and globally. </p>
        <p class="text-white">We are committed to investing time and effort towards identifying and promoting 
            Christian resources and voices we feel confident will encourage growth, love and sanctification. 
            We strive to amplify voices that speak to difficult issues and exemplify the following qualities:</p>
        <ul>
            <li>Honesty</li>
            <li>Humility</li>
            <li>Hope</li>
            <li>Hunger for Truth and Justice</li>
        </ul>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>About The Curators</u></h4>
</div>

<div class="container">
    <div class="row">
        <p class="text-white">Great Requirement Discourse was born through many conversations between a 
            father and son about the things they were learning from Christian leaders through great Podcasts. 
            These conversations were a bright spot during a difficult year and planted the desire to share about 
            the people and resources who were speaking truth and spurring growth in their Christian walk.
        </p>
        <p class="text-white">Here is where John introduces himself. Undergrad in Econ. Master's in Data Analytics.
            Likes to code, DJ and watch Penn State football.
        </p>
        <p class="text-white">Here is where Kevin introduces himself. History expert. Ministry leader.
            Likes to read, watch football and post on strangers' FB walls.
        </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>Disclosures and Level Setting</u></h4>
</div>

<div class="container mb-4">
    <div class="row">
        <p class="text-white">Here is the section where I make sure to explicitly state that we're not creating any content here.
            These are not our podcasts. We are simply promoting other people's stuff. If you want to support these podcasts, please do so,
            but don't be confused and think we are the creators / publishers.
        </p>
    </div><!-- row div -->
    <div class="row">
        <p class="text-white">Here is where I level set that everyone has bias. And you don't have to agree with everything
            posted. In fact, I can guarantee I won't agree with every word of everything that gets posted. This is not a place
            for confirmation bias. Open up the mind to some solid Christian perspectives on living like Christ in our society!
        </p>
    </div><!-- row div -->
</div><!-- container div -->

</div><!-- outer container div -->
{% endblock %}



 



 



 



 

