{% extends "layout.html" %}
{% block content %}
    <section class="about--us--section">
        <p class="about--us--p">The mission of Great Requirement Discourse is to amplify Christian voices moored to an orthodox Christian faith who 
            speak to the issue of correct Christian practice in society (orthopraxy) while seeking to fulfill what has been called 
            the “Great Requirement” of Christian discourse: to act justly, love mercy, and walk humbly with our God. (Micah 6:8)</p>
        <p class="about--us--p">We lament the fact that the public discourse has become increasingly uncharitable, unsympathetic and tribalistic. 
            Sadly, it has become dangerously easy to find fear mongering, brash and fallacious discourse that seeks to affirm 
            wrong thinking rather than to inform, while thoughtful, informative, and well-reasoned conversation has become less 
            prevalent and accessible. We believe this evolution in the way people consume information has had damaging social effects
             on our ability to communicate with and learn from each other.</p>
        <p class="about--us--p">We acknowledge Christian communities have not been left unscathed by this social phenomenon. Our goal is to make Great 
            Requirement Discourse more accessible to Christians in order to empower Christians to think critically about how to 
            holistically embody the Great Requirement ethic in their personal and public discourse and encourage one another in our 
            journey of Christian love, justice, and sanctification.</p>
        <p class="about--us--p">We seek content that focuses on correct Christian practice in society through Christian compassion (seeking justice by 
            working to alleviate suffering), Christian advocacy (seeking justice by combating systemic injustice toward the vulnerable), 
            and Christian missions (seeking justice by bringing hope to a hurting world through the Gospel of Jesus Christ).</p>
        <p class="about--us--p">Because Great Requirement Discourse is committed to presenting diverse Christian voices, the views expressed here will not 
            necessarily agree with each other or reflect the views of the creators. We appreciate opportunities to learn from differing
             perspectives and believe giving them a wider audience will benefit God’s church.</p>
    <!-- </main> -->
    </section>
{% endblock %}



 



 



 



 

