{% extends "layout.html" %}
{% block content %}
<div class="container mx-auto">

<div class="container mt-2 mb-2">
    <h4 class="text-white text-center"><u>The Great Requirement</u></h4>
</div>

<div class="container">
    <div class="row">
        <p class="text-white">“He has shown you, O mortal, what is good. And what does the Lord require of you? 
            To <strong>act justly</strong> and to <strong>love mercy</strong> and to 
            <strong>walk humbly</strong> with your God.” – Micah 6:8 </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>The Need</u></h4>
</div>

<div class="container text-white">
    <div class="row">
        <p class="text-white">We recognize and are grieved by the deterioration in discourse, both in the general 
            public and in Christian communities. This deterioration is particularly extreme whenever political or social 
            issues are discussed. In particular, we observe the following serious problems: </p>
        <ul>
            <li>Lack of Charity</li>
            <li>Lack of Sympathy</li>
            <li>Tribalism</li>
            <li>Fear-Mongering</li>
            <li>Extreme Confirmation Bias</li>
        </ul>
        <p class="text-white">
            We also recognize that our current Information Age makes it increasingly complex to search, navigate and 
            identify trust-worthy, high quality resources to better understand and approach difficult subjects as Christians. 
            We see a critical need for strong and loving shepherding on 
            how we ought to sort through the barrage of noise fighting for our attention and money.
        </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>The Mission</u></h4>
</div>

<div class="container text-white">
    <div class="row">
        <p class="text-white">Our mission is to promote individuals whose discourse demonstrates a commitment to the Christian faith, 
            exemplifies the Great Requirement in social and civic life locally, nationally, and globally, and encourages 
            growth, love, and sanctification. We strive to amplify voices that speak to difficult issues and exemplify the following qualities:</p>
        <ul>
            <li>Honesty</li>
            <li>Humility</li>
            <li>Hope</li>
            <li>Hunger for Truth and Justice</li>
        </ul>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>About The Curators</u></h4>
</div>

<div class="container">
    <div class="row">
        <p class="text-white">Great Requirement Discourse was born through many conversations between a 
            father and son about the things they were learning from Christian leaders through great Podcasts. 
            These conversations were a bright spot during a difficult year and planted the desire to share about 
            the people and resources who were speaking truth and spurring growth in their Christian walk.
        </p>
        <p class="text-white">John grew up in central Pennsylvania and now lives with his wife in Pittsburgh. 
            He was baptized in the Anglican Church of North America (ACNA).  
            John received his undergraduate degree in Economics at Grove City College and completed a Master's program in Information Systems Management
            at Carnegie Mellon University. In his spare time, he likes to go on adventures with his wife Hannah, read,
            work on coding this website, and even DJ every once in a while. He finds an outlet for tribalism by being 
            an AVID Penn State football fan.
        </p>
        <p class="text-white">Kevin lives in Altoona, PA with his wife Lisa, grew up in a fundamentalist church, was baptized in a Mennonite church, and now attends a Wesleyan Church. 
            He holds a bachelor's degree in history from Messiah College and a master's degree in history from Penn State University. He is the founder and 
            director of Backyard Ministries, a mission's organization that shares the love of Jesus Christ with families who live in public housing communities. 
            Kevin enjoys football, politics, history, and classic Christian literature, but most of all talking about these and other important things with his son John.
        </p>
    </div><!-- row div -->
</div><!-- container div -->

<div class="container mb-2">
    <h4 class="text-white text-center"><u>Disclaimers</u></h4>
</div>

<div class="container mb-4">
    <div class="row">
        <h5 class="text-white"><em>Fair Use</em></h5>
        <p class="text-white">This website may contain copyrighted material, the use of which may not have been specifically authorized 
            by the copyright owner. This material is available in an effort to provide education on 
            Christian engagement in social and civic issues (e.g. politics, justice, public health, missions, etc.).
            The material contained in this website is distributed without profit and in a manner that website user consumption of content will
            be fully credited to the appropriate copyright owners. 
        </p>
        <p class="text-white">
            This should constitute a ‘fair use’ of any such copyrighted material (referenced and provided for in 
            section 107 of the US Copyright Law).
        </p>
    </div><!-- row div -->
    <div class="row">
        <h5 class="text-white"><em>Views Expressed</em></h5>
        <p class="text-white">While the curators of this website have specifically selected content which they believe promotes
            the mission of Great Requirement Discourse, this does not imply that the curators share all views expressed within 
            the content promoted within this website nor all content published by individuals and/or institutions promoted on 
            Great Requirement Discourse.
        </p>
        <p class="text-white">
            Furthermore, the spirit of Great Requirement Discourse is not to simply confirm 100% of our existing personal beliefs and biases. We 
            recognize that ALL people have unique experiences, perspectives, and biases. We believe that God has called us
            to be life-long learners in a process of continual growth, turning away from sin, and becoming
            more and more like Jesus Christ through sanctification. We do not believe that any person
            or institution promoted by Great Requirement Discourse has achieved perfect knowledge or infallibility. We do believe
            that they are admirable examples who earnestly seek God and promote the advancement of the Great Requirement. 
        </p>
    </div><!-- row div -->
</div><!-- container div -->

</div><!-- outer container div -->
{% endblock %}



 



 



 



 

