{% extends "layout.html" %}
{% block content %}

<!-- Section to filter content -->
<div class="container text-white">
    <div class="row justify-content-center align-items-center">
        <form name="archive_search_form" id="archive_search_form" action="{{url_for('collection')}}" method="POST">
            <div class="form-group">
                <label class="d-flex justify-content-center align-items-center mb-0">Select Topics to Filter By</label><br>
                {% for topic in distinct_topic_list %}
                <div class="form-check-inline">
                    <ul class="ks-cboxtags ml-1 p-0">
                        <li>
                                <!-- Persist checkboxes selected by user -->
                                {% if topic in filters_checked %}
                                <input type="checkbox" id="checkbox_{{topic}}" name="check" value={{topic}} checked><label for="checkbox_{{topic}}">{{topic}}</label>
                                {% else %}
                                <input type="checkbox" id="checkbox_{{topic}}" name="check" value={{topic}}><label for="checkbox_{{topic}}">{{topic}}</label>
                                {% endif %}
                        </li>
                    </ul>
                </div><!-- form-checkbox container -->
                {%endfor%}
            </div><!-- form-group -->
            <div class="form-group d-flex justify-content-center align-items-center">
                <button class="btn btn-primary" type="submit" value="Apply fitlers value">Apply Filter</button>
                <button class="btn btn-seconday" type="submit" name="clearFilters" value="clearClicked">Clear Filters</button>
            </div>
        </form>
    </div>
</div>

<!-- Show content which has been featured -->
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for featured_resource in featured_resources %}

            <!-- Display podcast episode information using card template -->
            {% include "includes/podcast_episode_card.html" %}

        {%endfor%}
    </div><!-- row div -->
</div><!-- Outer Container Div -->

{% endblock %}