<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    {% include "includes/nav.html" %}
    <h2 class="first_h2">Featured&nbsp;Podcast&nbsp;Episode</h2>
    <p class="noncard__ptag">Should we have information on why we are recommending this podcast above the episode card?</p>
    <p class="noncard__ptag">Here is a quote</p>
    <p class="noncard__ptag">Here is another quote</p>
    <p class="noncard__ptag">More and more information</p>
    <main>
        <section class="cards">
            <div class="card">
                <div class="card__image-container">
                    <img src="https:///is5-ssl.mzstatic.com/image/thumb/Podcasts113/v4/06/9b/76/069b76d0-e77f-2e66-8a1e-2d750c8c781c/mza_1262336115322394026.jpg/300x300bb.jpg">
                </div>
                <div class="card__content">
                    <p class="card__title text--medium">
                        Episode 428: How Should Christians Vote? <br>Released: 2020-10-28<br>
                    </p>
                    <!-- <a href=https://podcasts.apple.com/us/podcast/episode-428-how-should-christians-vote/id591157388?i=1000496386028&amp;uo=4 target="_blank">Episode 428: How Should Christians Vote?</a> -->
                    <div class="card__info">
                        <!-- <p class="text--medium">With less than a week until the election, Phil and Skye are joined by Kaitlyn Schiess to discuss what should, and should not, influence how Christians vote. First, they talk about reactions to Skye’s video (not Phil’s, he had nothing to do with...</p> -->
                        <video controls="" preload="none" controlslist="nodownload">
                            <source src="https://traffic.libsyn.com/secure/thephilvischerpodcast/HP428_2.mp3?dest-id=121777" type="audio/mpeg">
                        </video>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <h2>Recent&nbsp;Podcast&nbsp;Episodes</h2>
    <main>
        <section class="cards">
            
            {% for episode in podcast_episodes %}
            <div class="card">
                <div class="card__image-container">
                    <img src={{episode.artwork}} />
                </div>
                <div class="card__content">
                    <p class="card__title text--medium">
                        {{episode.episode_name}} <br>Released: {{episode.release_date}}</br>
                    </p>
                    <!-- <a href={{episode.episode_url}} target="_blank">{{episode.episode_name}}</a> -->
                    <div class="card__info">
                        <!-- <p class="text--medium">{{episode.short_description}}</p> -->
                        <video controls preload="none" controlsList="nodownload">
                            <source src={{episode.episode_player_url}} type="audio/mpeg" >
                        </video>
                    </div>
                </div>
            </div>
        
            {%endfor%}
        </section>
    </main>
</body>
</html>