{% extends "layout.html" %}
{% block content %}

<div class="container mt-2 mb-2">
    <h4 class="text-white text-center"><u>Welcome to Great Requirement Discourse!</u></h4>
</div>

<!-- Show the currently featured episode -->
<div class="container mt-3">
  <div class="row">
    <div class="container text-white">
      <p>Our mission is to promote individuals whose discourse demonstrates a commitment to the Christian faith, 
        exemplifies the Great Requirement in social and civic life locally, nationally, and globally, and encourages 
        growth, love, and sanctification. We strive to amplify voices that speak to difficult issues and exemplify the following qualities:
        <div class="container">
          <ul>
            <li>Honesty</li>
            <li>Humility</li>
            <li>Hope</li>
            <li>Hunger for Truth and Justice</li>
          </ul>
        </div>
      </p>
      <p>
        In the future, we plan to feature specific podcast episodes on our home page. For now, you can browse the collection of recommended
        podcast episodes in our GRD Collection page and learn more about Great Requirement Discourse on our About Us page. Please note that 
        Great Requirement Discourse claims no ownership of the content shared on our website. We are simply committed
        to sharing existing resources produced by other Christians that we have found helpful in our personal learning and growth in faith.
      </p>
    </div>
  </div>
</div>


<!-- Allow for searching the collection by topic -->
<!-- Interaction will route user to the collection page -->
<div class="container mb-2">
  <h4 class="text-white text-center"><u>Search the GRD Collection</u></h4>
</div>
<!-- Section to filter content -->
<div class="container mb-4 text-white">
  <div class="row mx-auto justify-content-center align-items-center">
      <div class="container">
        <form name="archive_search_form" id="archive_search_form" action="{{url_for('collection')}}" method="POST">
            <div class="form-group mb-3">
                {% for topic in distinct_topic_list %}
                <div class="form-check-inline justify-content-center align-items-center ml-0 mr-0 mt-0 mb-0">
                    <ul class="ks-cboxtags ml-0 mr-0 mt-0 mb-0">
                        <li>
                                <!-- Persist checkboxes selected by user -->
                                {% if topic in filters_checked %}
                                <input type="checkbox" id="checkbox_{{topic}}" name="check" value={{topic}} checked><label for="checkbox_{{topic}}">{{topic}}</label>
                                {% else %}
                                <input type="checkbox" id="checkbox_{{topic}}" name="check" value={{topic}}><label for="checkbox_{{topic}}">{{topic}}</label>
                                {% endif %}
                        </li>
                    </ul>
                </div><!-- form-checkbox container -->
                {%endfor%}
            </div><!-- form-group -->
            <div class="form-group d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-lg" type="submit" value="Apply fitlers value">Search</button>
            </div>
        </form><!-- form -->
    </div><!-- form container -->
  </div><!-- row -->
</div>

{% endblock %}