<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    {% include "includes/nav.html" %}
    <h2 class="first_h2">Featured&nbsp;Podcast&nbsp;Episode</h2>

    <!-- <main> -->
        <section class="featured">
            <div class="featured--card">
                <div class="card">
                    <div class="card__image-container">
                        <img src={{featured_resource['resource_image_url']}}>
                    </div>
                    <div class="card__content">
                        <p class="card__title text--medium">
                            {{featured_resource['resource_title']}} <br>Released: {{featured_resource['publish_date']}}<br>
                        </p>
                        <div class="card__info">
                            <!-- <p class="text--medium">With less than a week until the election, Phil and Skye are joined by Kaitlyn Schiess to discuss what should, and should not, influence how Christians vote. First, they talk about reactions to Skye’s video (not Phil’s, he had nothing to do with...</p> -->
                            <video controls="" preload="none" controlslist="nodownload">
                                <source src={{featured_resource['podcast_episode_player_url']}} type="audio/mpeg">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured--text">
                <p>With less than a week until the election, Phil and Skye are joined by Kaitlyn Schiess to discuss what should, and should not, 
                    influence how Christians vote. First, they talk about reactions to Skye’s video (not Phil’s, he had nothing to do with it!) 
                    about abortion, and the different ways the issue is viewed by evangelicals. They also unpack recent articles about the 
                    election from three Christian leaders—John Piper, Al Mohler, and Joel Hunter. It is just a coincidence that the two 
                    retired pastors oppose Trump? And why does Mohler hold Black Christians to a different standard when voting? 
                    Phil explains why two traditionally Republican counties should make conservatives rethink their support for Trump.
                     And why is every election framed as an existential threat to America? Finally, Skye talks with Scott Arbeiter, 
                     president of World Relief, about the historically low number of refugees resettled in the U.S., the current administration’s
                      broken promise to help persecuted Christians, and why evangelical leaders and laity are so far apart on the issue
                       of immigration. Lifeway Research | “2016 Election Exposes Evangelical Divides</p>
                <!-- <p class="noncard__ptag">Here is a quote</p>
                <p class="noncard__ptag">Here is another quote</p>
                <p class="noncard__ptag">More and more information</p> -->
            </div>
        </section>
    <!-- </main> -->
    <h2>Most&nbsp;Recent&nbsp;Episodes</h2>
    <main>
        <section class="cards">
            
            {% for episode in podcast_episodes %}
            <div class="card">
                <div class="card__image-container">
                    <img src={{episode.artwork}} />
                </div>
                <div class="card__content">
                    <p class="card__title text--medium">
                        {{episode.episode_name}} <br>Released: {{episode.release_date}}</br>
                    </p>
                    <!-- <a href={{episode.episode_url}} target="_blank">{{episode.episode_name}}</a> -->
                    <div class="card__info">
                        <!-- <p class="text--medium">{{episode.short_description}}</p> -->
                        <video controls preload="none" controlsList="nodownload">
                            <source src={{episode.episode_player_url}} type="audio/mpeg" >
                        </video>
                    </div>
                </div>
            </div>
        
            {%endfor%}
        </section>
    </main>
</body>
</html>