{% extends "layout.html" %}
{% block content %}
<main>
<section class="cards">

    {% for podcast in podcasts %}
    <!-- onclick to link to the main page of the podcast -->
    <div class="card" onclick="window.open('{{podcast.web_page}}');">
        <div class="card__image-container">
            <img src={{podcast.artwork}} />
        </div>
        <div class="card__content">
            <p class="card__title text--medium">
                {{podcast.name}}
            </p>
            <p class="text--medium">{{podcast.description}}</p>
            <!-- <p>{{podcast.name}}</p> -->
            <div class="card__info">
                <!-- <form action={{podcast.web_page}} method="get" target="_blank">
                    <button type="submit" >GO TO PODCAST</button>
                 </form> -->
            </div>
        </div>
    </div>

    {%endfor%}
    
</section>
</main>

{% endblock %}

