{% extends "layout.html" %}
{% block content %}
    <main>
    <section class="cards">

        {% for episode in podcast_episodes %}
        <div class="card">
            <div class="card__image-container">
                <img src={{episode.artwork}} />
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    {{episode.episode_name}} <br>Released: {{episode.release_date}}</br>
                </p>
                <!-- <a href={{episode.episode_url}} target="_blank">{{episode.episode_name}}</a> -->
                <div class="card__info">
                    <!-- <p class="text--medium">{{episode.short_description}}</p> -->
                    <video controls preload="none" controlsList="nodownload">
                        <source src={{episode.episode_player_url}} type="audio/mpeg" >
                    </video>
                </div>
            </div>
        </div>
        
        {%endfor%}
        
    </section>
    </main>
    {% endblock %}