<div class="col mx-auto">
    <section class="card mb-2 bg-dark text-white">
        <!--row for side by side podcast image and episode name -->
        <div class="row row-cols-2 align-items-start">
            <div class="col-4">
                <img src="{{featured_resource['artworkUrl100']}}">
            </div><!--podcast image col -->
            <div class="col-8">
                <a class="card-title text-white h5" href={{featured_resource['trackViewUrl']}} target="_blank">{{featured_resource['trackName']}}</a>
            </div><!--podcast episode name col -->
        </div><!--row -->
        <div class="card-body">
            <div class="container text-center">
                <h7 class="card-text">Topics: {{featured_resource['topics']}}</h7></br>
                <h7 class="card-text">Released: {{featured_resource['publish_date']}}</h7>
            </div><!--container for card-text -->
            <div class="accordion" id="description-accordion{{featured_resource['trackId']}}">
                <!-- Embedded card to support accordion for EPISODE description -->
                <div class="card mt-2 align-items-center bg-dark">
                    <div class="card-header" id="episode-description-heading{{featured_resource['trackId']}}">
                        <h6>
                            <a class="text-white" href="#episode-description{{featured_resource['trackId']}}"
                              data-toggle="collapse"
                              aria-expanded="true"
                              aria-controls="episode-description{{featured_resource['trackId']}}"
                            >VIEW EPISODE DESCRIPTION</a>
                        </h6>
                    </div><!-- episode description header -->
                    <div id="episode-description{{featured_resource['trackId']}}"
                        class="collapse"
                        data-parent="#description-accordion{{featured_resource['trackId']}}"
                        aria-labelledby="episode-description-heading{{featured_resource['trackId']}}">
                        <div class="card-body">
                            <p class="text-white">{{featured_resource['shortDescription']}}</p>
                        </div> <!-- card body (Episode Description)-->
                    </div> <!-- collapse -->
                </div> <!-- inner card for episode descriptions -->
            </div><!-- accordion -->
        </div><!-- card body -->
    </section><!-- card -->
</div><!-- column -->