<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-fixed-top sticky-top" role='navigation'>
    <div class="container">
  
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#myTogglerNav"
        aria-controls="myTogglerNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <a href="{{ url_for('home') }}" class="navbar-brand">Great Requirement Discourse</a>
        <div class="collapse navbar-collapse" id="myTogglerNav">
            <div class="navbar-nav">
              <a class="nav-item nav-link mx-auto" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link mx-auto" href="{{ url_for('collection') }}">GRD Collection</a>
              <a class="nav-item nav-link mx-auto" href="{{ url_for('podcasts') }}">Podcasts</a>
              <a class="nav-item nav-link mx-auto" href="{{ url_for('about_us') }}">About Us</a>
            </div><!-- navbar (.mx-auto used for centering text)-->      
        </div><!-- collapse -->
  
    </div><!-- container -->
</nav><!-- nav -->