<div class="col">
    <section class="card mb-2 bg-dark text-white">
        <!--row for side by side podcast image and episode name -->
        <div class="row align-items-start">
            <div class="col-4">
                <img src={{featured_resource['artworkUrl100']}}>
            </div><!--podcast image col -->
            <div class="col-8">
                <a class="card-title text-white h5" href={{featured_resource['trackViewUrl']}} target="_blank">{{featured_resource['trackName']}}</a>
            </div><!--podcast episode name col -->
        </div> <!--row -->
        <div class="card-body">
            <h7 class="card-text">Topics: {{featured_resource['topics']}}</h7><br/>
            <h7 class="card-text">Released: {{featured_resource['publish_date']}}</h7>
            <div class="accordion" id="description-accordion{{featured_resource['trackId']}}">
                <!-- Embedded card to support accordion for EPISODE description -->
                <div class="card mt-2">
                    <div class="card-header" id="description-heading{{featured_resource['trackId']}}">
                        <h6>
                            <a href="#description{{featured_resource['trackId']}}"
                              data-toggle="collapse"
                              aria-expanded="true"
                              aria-controls="description{{featured_resource['trackId']}}"
                            >VIEW EPISODE DESCRIPTION</a>
                        </h6>
                    </div><!-- episode description header -->
                    <div id="description{{featured_resource['trackId']}}"
                        class="collapse"
                        data-parent="#description-accordion{{featured_resource['trackId']}}"
                        aria-labelledby="description-heading{{featured_resource['trackId']}}">
                        <div class="card-body">
                            <p class="text-dark">{{featured_resource['shortDescription']}}</p>
                        </div> <!-- card body (Episode Description)-->
                    </div> <!-- collapse -->
                </div> <!-- inner card for descriptions --> 
            </div><!-- accordion -->
            <!-- Launch the Podcast with App -->
            <!-- <div class="list-group mb-0">
                <a class="list-group-item list-group-item-action text-primary" href={{featured_resource['trackViewUrl']}} target="_blank">LAUNCH IN APPLE PODCASTS</a>
                <a class="list-group-item list-group-item-action text-primary" href="#">LAUNCH IN SPOTIFY</a>
            </div> -->
            <!-- list group -->
        </div><!-- card body -->
    </section><!-- card -->
</div><!-- column -->